header {
    color:black;
    background-color: rgb(243, 213, 242);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;


}
.content {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}
.login {
    background-color: rgba(243, 213, 242, 0.705);

}
.filmposter {
    max-width: 20%;
    height: auto;
}
li {
    list-style-type: none;
}

button {
    background-color: rgb(243, 127, 239);
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}