header {
    color:black;
    background-color: burlywood;
}
.content {
    background-color: rgba(161, 67, 67, 0.692);
}
.loginFilmstudio {
    background-color: rgb(157, 157, 243);
}
.registerFilmstudio {
    background-color: rgb(157, 157, 243);
}
.filmposter {
    max-width: 20%;
    height: auto;
}
.bigButton {
    height: 20px;
    
}